img {
  border-radius: 2rem;
  width: 45%;
}
section {
  margin-top: 2rem;
  text-align: center;
}
h2 {
  font-size: 60px;
}
div {
  position: relative;
  bottom: 3rem;
  p {
    position: relative;
    bottom: 3rem;
    font-size: 30px;
  }
}
