section {
  background-image: url(../../../assets/img/background.jpg);
  color: white;
  text-align: center;
  margin-inline: 10rem;
  margin-block: 5rem;
  padding-block: 2rem;
  padding-left: 2rem;
  form {
    text-align: left;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  button {
    margin-inline: 9rem;
  }
}
