section {
  background-image: url(../../../assets/img/background.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block: 5rem;
  padding-block: 4rem;
  margin-inline: 30rem;
  padding-top: 2rem;
}
form {
  margin-inline: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  input {
    width: 97%;
  }
  button {
    margin-inline: 7rem;
    margin-bottom: 2rem;
  }
}
