<section>
  <h2>Sign in</h2>
  <form [formGroup]="form" (ngSubmit)="isLogged()">
    <span> Email: </span>
    <label for="">
      <input type="email" placeholder="email" formControlName="email" />
    </label>
    <span> Password: </span>
    <label>
      <input
        type="password"
        placeholder="password"
        formControlName="password"
      />
    </label>

    <span> Repeat password: </span>
    <label>
      <input
        type="password"
        placeholder="repeat password"
        formControlName="repeatpassword"
      />
    </label>

    <span> Username: </span>
    <label>
      <input type="text" placeholder="username" formControlName="username" />
    </label>

    <button type="submit">Entry</button>
  </form>
</section>
