section {
  background-image: url(../../../assets/img/background.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4rem;
  margin: 3rem auto;
  padding-top: 2rem;
  padding-inline: 3rem;
  width: fit-content;
}
form {
  margin-inline: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  button {
    margin-inline: 3rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
