<footer>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/alce65" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-github.svg"
            alt="Github Icon"
            width="30"
        /></a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/magicthegathering" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-youtube.png"
            alt="Youtube Icon"
            width="33"
        /></a>
      </li>
      <li>
        <a href="https://www.twitch.tv/magic" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-twitch.svg"
            alt="Twitch Icon"
            width="35"
        /></a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/MagicTheGathering.es/?locale=es_ES"
          target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-facebook.svg"
            alt="Facebook Icon"
            width="33"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/wizards_magic?lang=es" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-twitter.svg"
            alt="Twitter Icon"
            width="30"
        /></a>
      </li>
    </ul>
  </nav>
  <address>©Copyright MEOWTH, 2024</address>
</footer>
