<footer>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-github.svg"
            alt="Github Icon"
            width="30"
        /></a>
      </li>
      <li>
        <a href="https://youtube.com/" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-youtube.png"
            alt="Youtube Icon"
            width="33"
        /></a>
      </li>
      <li>
        <a href="https://twitch.com/" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-twitch.svg"
            alt="Twitch Icon"
            width="35"
        /></a>
      </li>
      <li>
        <a href="https://facebook.com/" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-facebook.svg"
            alt="Facebook Icon"
            width="33"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/" target="_blank"
          ><img
            class="social-icon"
            src="../../../assets/icons/icon-white-twitter.svg"
            alt="Twitter Icon"
            width="30"
        /></a>
      </li>
    </ul>
  </nav>
  <address>©Copyright MEOWTH, 2024</address>
</footer>
