<div class="buttonCrud">
  <img
    src="../../../assets/icons/borrar.png"
    alt="borrar"
    width="36px"
    height="36px"
  />

  <img
    src="../../../assets/icons/editar.png"
    alt="editar"
    width="36px"
    height="36px"
  />
  <img
    (click)="sendFavorite()"
    (keydown)="handleKeydown($event)"
    tabindex="0"
    [src]="
      !card.isFavorite
        ? '../../../assets/icons/corazon.png'
        : '../../../assets/icons/corazonrelleno.png'
    "
    alt="corazonPartio"
    width="36px"
    height="36px"
  />
</div>
